<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.webgarage.personaltrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyParametrsChoice"
            android:label="@string/my_param" />
        <activity
            android:name=".CreateParametr"
            android:label="@string/create_param" />
        <activity
            android:name=".CreateCourse"
            android:label="@string/title_activity_create_course" />
        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar" />
        <activity
            android:name=".ContinCourse"
            android:label="@string/title_activity_contin_course" />
        <activity
            android:name=".PreparedCourses"
            android:label="@string/title_activity_prepared_courses" />
        <activity
            android:name=".MyGoal"
            android:label="@string/title_activity_my_goal" />
        <activity
            android:name=".LookParam"
            android:label="@string/title_activity_look_param"></activity>

        <receiver android:name=".Alarm"></receiver>
        <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    </application>

</manifest>